@font-face {
  font-family: "jf";
  src: url("./jf-openhuninn-1.1.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "jf";
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  width: 100%;
  height: 30vh;
  display: inline-block;
  background-image: url("https://hexschool.github.io/JavaScript_HomeWork/assets/Hero.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 10px;
}
h2,
#selectAdd {
  margin: 20px;
}
h2 {
  color: aliceblue;
}
#selectAdd {
  width: 50vw;
  height: 5vh;
  opacity: 0.5;
  font-size: 16px;
  font-weight: 800;
}
.hotArea {
  position: relative;
  width: 40vw;
  height: 112px;
  margin: 0 auto;
  top: -5vh;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.hotArea .btn {
  position: relative;
  padding: 20px;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}

#mainText {
  width: 100%;
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  color: #8a82cc;
}

.hotBtn {
  display: inline;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  border: none;
  font-size: 16px;
  text-align: center;
}

.b1 {
  background-color: rgb(142, 106, 209);
}
.b2 {
  background-color: rgb(240, 192, 130);
}
.b3 {
  background-color: rgb(228, 219, 102);
}

.b4 {
  background-color: rgb(123, 211, 233);
}
.hotBtn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.05), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.01);
  transition: 0.3s;
  transform: translateY(3px);
}
.divider {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 10px;
  border: 2px solid #559ac8;
  border-radius: 50%;
}
.divider img {
  position: relative;
  top: 5px;
  right: -4px;
  width: 15px;
  height: 15px;
}
.divider::before {
  content: "";
  display: block;
  position: relative;
  top: 15px;
  right: 500px;
  border-top: 1px dashed #559ac8;
  width: 500px;
  height: 1px;
}
.divider::after {
  content: "";
  display: block;
  position: relative;
  top: -5px;
  left: 25px;
  border-top: 1px dashed #559ac8;
  width: 500px;
  height: 1px;
}
#addrBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin: 20px 40px;
  padding: 0px 100px;
}
.dataBox {
  background-repeat: no-repeat;
  background-size: 1px 1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  display: flex;
  background: rgba(255, 255, 255, 0.432);
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.dataTitle {
  color: white;
  margin: 10px;
  margin-top: 150px;
  font-size: 24px;
  font-weight: 200;
}
.dataText {
  color: black;
  margin: 10px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 10px;
}
@media (max-width: 1000px) {
  .hotArea {
    position: relative;
    width: 40vw;
    height: 30vh;
    margin: 0 auto;
    top: -5vh;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
  }
  .hotArea .btn {
    display: block;
    width: 90%;
    height: 70%;
  }
  .hotArea .btn .hotBtn {
    display: block;
    width: 100%;
    margin: 5px;
  }
  .dataTitle {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .hotArea {
    position: relative;
    width: 20vw;
    height: 30vh;
    margin: 0 auto;
    top: -5vh;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
  }
  .hotArea .btn {
    display: block;
    padding: 0px;
    width: 90%;
    height: 70%;
  }
  .hotArea .btn .hotBtn {
    display: block;
    width: 100%;
    margin: 5px;
  }
  #addrBox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .divider::before {
    width: 500px;
  }
  .divider::after {
    width: 350px;
  }
  .dataTitle {
    font-size: 16px;
    font-weight: 200;
  }
}
@media (max-width: 460px) {
  #addrBox {
    padding: 0px 10px;
  }
  .hotArea {
    width: 30vw;
    height: 35vh;
  }
  .divider::before {
    width: 500px;
  }
  .divider::after {
    width: 200px;
  }
}
